
<br><h1>Welcome to Stockifier </h1> <br>
<% if logged_in? %>
    <h4>You are Logged In, <%= current_user.email %></h4>
<%end%>

<h5> In this app, you can purchase DOW30 stocks. You are given $5000 
to invest as you please. You can purchase stock at its current price; data
from an API implementation from Intrinio.<br/>
You can view all the transcations that you have made, purchase stocks, 
and view your current portfolio. </h5>

<% if false %>
    <% if logged_in?%>
        <br>
        <button><%= link_to "See your portfolio", stocks_path %></button>
        <br>
        <button><%= link_to "Buy some stocks", new_stock_path %></button>
    <% end %>
<% end %>